Repository unruffled-nightingale/fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, isort, flake8, black, bandit

.pre-commit-config.yaml:

default_stages: [commit,push]
repos:

-   repo: local
    hooks:

        -   id: no-commit-to-branch
            name: no-commit-to-branch
            description: Forbids committing to the main branch.
            entry: poetry run no-commit-to-branch
            pass_filenames: false
            always_run: true
            args:
               - --branch=main
            language: system

        -   id: poetry
            name: poetry check
            description: Validates structure of pyproject.toml
            language: system
            entry: poetry check
            pass_filenames: false
            always_run: true

        -   id: trailing-whitespace
            name: trailing-whitespace
            description: Ensures that a file is either empty, or ends with one newline.
            entry: poetry run trailing-whitespace-fixer
            language: system
            types: [non-executable, file, text]

        -   id: end-of-file-fixer
            name: end-of-file-fixer
            description: Ensures that a file is either empty, or ends with one newline.
            entry: poetry run end-of-file-fixer
            language: system
            types: [non-executable, file, text]

        -   id: check-yaml
            name: check-yaml
            description: Checks syntax of YAML files
            entry: poetry run check-yaml
            language: system
            types: [yaml]

        -   id: detect-private-key
            name: detect-private-key
            description: Checks for the existence of private keys.
            entry: poetry run detect-private-key
            language: system
            types: [non-executable, file, text]

        -   id: codespell
            name: codespell
            description: Checks for common misspellings in text files.
            entry: poetry run codespell
            language: system
            types: [non-executable, file, text]

        -   id: isort
            name: isort
            description: A Python utility that sorts imports alphabetically
            entry: poetry run isort
            language: system
            types: [python]

        -   id: flake8
            name: flake8
            description: Python Style Guide Enforcement
            entry: poetry run flake8
            language: system
            types: [python]

        -   id: black
            name: black
            description: Uncompromising Python code formatter
            entry: poetry run black
            language: system
            types: [python]

        -   id: bandit
            name: bandit
            description: Check for common security issues
            entry: poetry run bandit
            exclude: tests/
            language: system
            types: [python]

added dependabot
  .github/dependabot.yml
Due: check-yaml

adding limit to coverage (#7)
  Makefile
Due: none

added dependabot (#9)
  .github/dependabot.yml
Due: check-yaml

Added pull_request_template
  .github/pull_request_template.md
Due: none

fix typo
  .github/pull_request_template.md
Due: none

Add pull request template (#12)
  .github/pull_request_template.md
Due: none

fixed docker tag
  .github/workflows/build-and-push-docker.yml
  .kube/deployment.yml
  Dockerfile
  Makefile
Due: check-yaml

fixed docker tag (#13)
  .github/workflows/build-and-push-docker.yml
  .kube/deployment.yml
  Dockerfile
  Makefile
Due: check-yaml

Fix for poetry version to ensure that __version__ in fastapi.__init__.py is calculated on the fly.
  fastapi_template/__init__.py
  poetry.lock
  pyproject.toml
Due: isort, flake8, black, bandit

reverted version - eronneous change
  pyproject.toml
Due: none

removed whitespace
  pyproject.toml
Due: none

fix_for_poetry_version
  fastapi_template/__init__.py
  poetry.lock
  pyproject.toml
Due: isort, flake8, black, bandit

fix_for_poetry_version (#15)
  fastapi_template/__init__.py
  poetry.lock
  pyproject.toml
Due: isort, flake8, black, bandit

Simplifed docker build by moving to makefile
  .github/workflows/build-and-push-docker.yml
  Makefile
Due: check-yaml

replacing spaces with tab in Makefile
  Makefile
Due: none

Simplified docker build by moving to makefile (#16)
  .github/workflows/build-and-push-docker.yml
  Makefile
Due: check-yaml

fixing docker push github action
  .github/workflows/build-and-push-docker.yml
Due: check-yaml

fixing docker push github action (#17)
  .github/workflows/build-and-push-docker.yml
Due: check-yaml

Adding deploy to kubernetes on push to master
  .github/workflows/build-and-push-docker.yml
Due: check-yaml

Adding deploy to kubernetes on push to master (#18)
  .github/workflows/build-and-push-docker.yml
Due: check-yaml

wip
  pyproject.toml
  tests/load/__init__.py
  tests/load/test_main.py
Due: isort, flake8, black

Fix github workflow for deploying to kubernetes
  .github/workflows/build-and-push-docker.yml
Due: check-yaml

Fix github workflow for deploying to kubernetes (#19)
  .github/workflows/build-and-push-docker.yml
Due: check-yaml

Fix github workflow for deploying to kubernetes (#20)
  .github/workflows/build-and-push-docker.yml
Due: check-yaml

Added load test with locust
  .kube/service.yml
  Makefile
  poetry.lock
  pyproject.toml
  tests/load/test_main.py
Due: check-yaml, isort, flake8, black

Tidying deploy gthub workflow
  .github/workflows/deploy-on-push-to-main.yml
Due: check-yaml

Tidying deploy gthub workflow (#21)
  .github/workflows/deploy-on-push-to-main.yml
Due: check-yaml

whitespace
  Makefile
Due: none

Load test (#22)
  .kube/service.yml
  Makefile
  poetry.lock
  pyproject.toml
  tests/load/__init__.py
  tests/load/test_main.py
Due: check-yaml, isort, flake8, black

Added Readme
  README.md
  README.rst
Due: none

Added imaged image to README
  .docs/static/title_image.png
  README.md
Due: none

small stylistic changes
  README.md
Due: none

Add readme (#23)
  .docs/static/title_image.png
  README.md
  README.rst
Due: none

Added load test to Makefile
  Makefile
  README.md
Due: none

Added load test to Makefile (#24)
  Makefile
  README.md
Due: none

added more todos
  README.md
Due: none

added more todos (#26)
  README.md
Due: none

Added Flake8 config in pyproject.toml
  .gitignore
  pyproject.toml
Due: none

renamed ./.docs to ./docs
  README.md
  docs/static/title_image.png
Due: none
