Repository unruffled-nightingale/fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, isort, flake8, black, bandit

check-yaml:
  name: check-yaml
  description: Checks syntax of YAML files
  entry: poetry run check-yaml
  language: system

isort:
  name: isort
  description: A Python utility that sorts imports alphabetically
  entry: poetry run isort
  language: system

flake8:
  name: flake8
  description: Python Style Guide Enforcement
  entry: poetry run flake8
  language: system

black:
  name: black
  description: Uncompromising Python code formatter
  entry: poetry run black
  language: system

bandit:
  name: bandit
  description: Check for common security issues
  entry: poetry run bandit
  language: system

Moved precommit logic to local repo
  .pre-commit-config.yaml
  README.rst
  poetry.lock
  pyproject.toml
Due: check-yaml

Improved makefile, aded configuration for tooling, tidied pre-commit-config
  .pre-commit-config.yaml
  Makefile
  poetry.lock
  pyproject.toml
  setup.cfg
Due: check-yaml

Added Dockerfile
  .dockerignore
  Dockerfile
Due: none

added fast_api basic
  Makefile
  fastapi_starter/main.py
  fastapi_starter/settings.py
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/test_fastapi_starter.py
  tests/test_main.py
Due: isort, flake8, black, bandit

added dockerfile and integration tests
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  docker-compose.yml
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/integration/__init__.py
  tests/integration/test_main.py
  tests/test_main.py
  tests/unit/__init__.py
  tests/unit/test_main.py
Due: check-yaml, isort, flake8, black

Replaced setup.cfg with pyproject.toml
  Makefile
  pyproject.toml
  setup.cfg
Due: none

Renamed fastapi_starter to fastapi_template
  Dockerfile
  Makefile
  docker-compose.yml
  fastapi_starter/__init__.py
  fastapi_starter/main.py
  fastapi_starter/settings.py
  pyproject.toml
  tests/integration/test_main.py
  tests/unit/test_main.py
Due: check-yaml, isort, flake8, black, bandit

Renamed project
  Makefile
  fastapi_template/__init__.py
  fastapi_template/main.py
  fastapi_template/settings.py
Due: isort, flake8, black, bandit

Added MIT license
  LICENSE
Due: none

fixed typo
  LICENSE
Due: none

Added github actions to run checks on push and pr
  .github/workflows/test-app.yml
Due: check-yaml

Fixed check command
  .github/workflows/test-app.yml
Due: check-yaml

Added tests in github actions
  .github/workflows/test-app.yml
Due: check-yaml

Split workflow by job
  .github/workflows/test-app.yml
Due: check-yaml

fixing yaml
  .github/workflows/test-app.yml
Due: check-yaml

removed multiple jobs
  .github/workflows/test-app.yml
Due: check-yaml

added caching
  .github/workflows/test-app.yml
Due: check-yaml

name correction and testing caching
  .github/workflows/test-app.yml
Due: check-yaml

attempt to fix cache
  .github/workflows/test-app.yml
Due: check-yaml

test cache
  .github/workflows/test-app.yml
Due: check-yaml

fixing poetry cache
  .github/workflows/test-app.yml
Due: check-yaml

fixed yaml
  .github/workflows/test-app.yml
Due: check-yaml

Adding GitHub actions (#2)
  .github/workflows/test-app.yml
Due: check-yaml

added docker build and push workflow
  .github/workflows/build-and-push-docker.yml
Due: check-yaml

added docker build and push workflow (#3)
  .github/workflows/build-and-push-docker.yml
Due: check-yaml

fixed docker workflow
  .github/workflows/build-and-push-docker.yml
Due: check-yaml

fixed docker workflow (#4)
  .github/workflows/build-and-push-docker.yml
Due: check-yaml

added kube deployment ymls
  .kube/deployment.yml
  .kube/ingress.yml
  .kube/secret.yml
  .kube/service.yml
  Makefile
Due: check-yaml

added kube deployment ymls (#5)
  .kube/deployment.yml
  .kube/ingress.yml
  .kube/secret.yml
  .kube/service.yml
  Makefile
Due: check-yaml

Added acceptance test
  .kube/service.yml
  Makefile
  tests/acceptance/__init__.py
  tests/acceptance/test_main.py
Due: check-yaml, isort, flake8, black

added daily acceptance test workflow
  .github/workflows/build-and-push-docker.yml
  .github/workflows/run-acceptance-test.yml
  .github/workflows/test-app-on-pr.yml
  Makefile
Due: check-yaml

Acceptance test (#6)
  .github/workflows/build-and-push-docker.yml
  .github/workflows/run-acceptance-test.yml
  .github/workflows/test-app-on-pr.yml
  .kube/service.yml
  Makefile
  tests/acceptance/__init__.py
  tests/acceptance/test_main.py
Due: check-yaml, isort, flake8, black

adding limit to coverage
  Makefile
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  isort: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
  bandit: any of: \.py$, but not: tests/
